<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
  <h4 class="title text-center">Bienvenido a tu </h4>
  <span class="textoSystemBank"><strong>Sistema bancario</strong></span>
  <div class="login-container p-4 shadow rounded bg-white">
      <form (ngSubmit)="onSubmit()" class="login-form">

        <div class="mb-3">
          <label for="email" class="form-label">Correo electrónico</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
        </div>

        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

        <button type="submit" class="btn btn-custom w-100"><strong>Ingresar</strong></button>
        <p class="register-link text-center mt-3">¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a></p>
      </form>
    </div>
</div>
