.title, .btn-custom {
  font-family: 'Sura', sans-serif;
}

/* Título fuera del contenedor */
.title {
  font-size: 2rem;
  color: #626277;
  margin-bottom: 0.3rem;
}

.textoSystemBank {
  font-family: SuraSansNegrita, sans-serif;
  font-size: 34px;
  line-height: 38px;
  text-align: center;
  color: #0033A0;
  margin-bottom: 10px;
}

.form-label{
  font-family: SuraSansRegular, sans-serif;
  color: #626277;
}

  /* Contenedor del login */
  .login-container {
    width: 100%;
    max-width: 350px;
  }

.login-link{
  color: #626277;
}

  /* Enlace de registro */
.register-link a {
  color: #0056b3;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.btn-custom {
  background-color: #e3e829 !important;
  color: #0033a0 !important;
  font-weight: bold;
  border: none;
}

.btn-custom:hover {
  background-color: #d6dc24 !important;
  color: #001f6b !important;
}

