    <div *ngFor="let transaction of transactions" class="notification-card">
      <div class="notification-header">
        <span class="icon">💳</span>
        <span class="title">Nueva Transacción</span>
      </div>
      <div class="notification-body">
        <span class="transaction-id">ID: {{ transaction.id }}</span>
        <span class="amount">{{ transaction.amount | currency }}</span>
        <span class="transaction-type">{{ transaction.transactionType | lowercase }}</span>
      </div>
    </div>
